<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <link type="text/css" rel="stylesheet"  th:href="@{/css/index.css}"   href="../static/css/index.css"/>
    <script type="text/javascript" th:src="@{/js/index.js}" src="../static/js/index.js"></script>
</head>
<body  th:background="@{/image/bg.jpg}" background="../static/image/bg.jpg">

   <h3><span th:text="${user}">jack</span> welcome to index!</h3>

   <a th:href="@{/toServiceWorkers}" href="view/service_workers.html">service workers</a>

   <a th:href="@{/toChat}" href="view/chat.html">chat</a>

  <img class="image"   th:src="@{'https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2239146502,165013516&amp;fm=27&amp;gp=0.jpg'}"  src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2239146502,165013516&amp;fm=27&amp;gp=0.jpg"/>

</body>
</html>